body {
	margin: 0;	
	font-family: 'Manrope', sans-serif;
	font-size: 1rem;
}

.container {
	padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}
.team-list {
  max-width: 400px;
}

.team-list li {
  display: flex;
  justify-content: space-between;
}
.team-rating {
  margin: 0 10px;
  flex: 0 0 20%;
}

.team-title {
  flex: 0 0 70%;
}

.game-row {
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.game-row span {
	flex: 0 0 33.333%;
}

.game-row div {
	flex: 0 0 100%;
	margin-top: 10px;	
}

.lh-40 {
	line-height: 40px;
}

.td-50 {
	width: 50px;
}

.td-100 {
	width: 100px;
}

.title.is-1 {
	margin-top: 30px;
}

.title sup {
	font-size: 0.3em;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

#ranking {
	counter-reset: ranking;
}

.count:before {
	counter-increment: ranking;
  content: counter(ranking);
}

.input.-rating {
	max-width: 100px;
}

.input.-small {
	max-width: 70px;
	margin: 0 10px;
}

.score-block {
	display: flex;
	justify-content: center;
}

.add-team-field.field.is-grouped>.control:first-child {
	flex: 1 1 100%;
}

#list {
	counter-reset: teamlist;
}

#list tr {
	counter-increment: teamlist;
}

#list tr td:first-child:before {
	content: counter(teamlist)". ";
}

@media screen and (max-width: 767px) {
	html {
		font-size: 14px;
	}

	.add-team-field {
		flex-wrap: wrap;
	}

	.add-team-field.field.is-grouped>.control:first-child {
		width: 100%;
		margin-bottom: 1rem;

	}

	.td-50 {
		width: 40px;
	}

	.td-100 {
		width: 70px;
	}

	.game-row {
		border-bottom: 1px solid #dbdbdb;
		margin-bottom: 1rem;	
	}

	.game-row span {
	    flex: 0 0 100%;
	    text-align: center;
	    justify-content: center;
	    margin-bottom: 1rem;
	}
}